:root {
  --blue: #5183f5;
}

.bio {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.bio .pic {
  margin-bottom: 0;
  min-width: 70px;
  border-radius: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.27);
}

@media only screen and (max-width: 485px) {
  .bio {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

.bio .description {
  width: 100%;
}

.bio .description p {
  margin: 0.5rem 0;
}

.bio .description a {
  font-weight: bold;
  font-size: 1.1rem;
  color: inherit;
}

.bio .description a:hover {
  text-decoration: underline;
  color: var(--blue);
}
