.social-bar {
  display: flex;
  margin-left: 0;
}

.social-bar li {
  list-style-type: none;
  padding-right: 0.8rem;
  text-decoration: underline;
}

.social-bar li a {
  color: inherit;
}

.social-bar li a:hover {
  color: var(--blue);
}
